<div class="center">
<div class="main"> 
<table class="styled-table">
    <thead>
      <tr>
        <th scope="col">Match</th>
        <th scope="col">Date du match</th>
        <th scope="col">Nombre de host (cliquer pour voir) </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">ldc psg - om </td>
        <td>20/01/2022 </td>
        <td>2</td>
        <td><button>proposer de host</button></td>
      </tr>
      <tr>
        <td scope="row">nba lakers - cav </td>
        <td>20/01/2022</td>
        <td>5</td>
        <td><button>proposer de host</button></td>
      </tr>
      <tr>
        <td scope="row">Athletics - diamond league tokyo</td>
        <td>20/01/2022</td>
        <td>7</td>
        <td><button>proposer de host</button></td>
      </tr>
      <tr>
        <td scope="row">Tour de france</td>
        <td>20/01/2022</td>
        <td>8</td>
        <td><button>proposer de host</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>