<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-dark navbar-inverse" style="background: rgba(0, 0, 0, 0.7)">

    <button id="nav-btn" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <a class="navbar-brand" routerLink=""><img src="../../assets/images/Logo_Binhom_blanc.png" alt="Binhom" height="23" width="97"></a>
        <div class="collapse navbar-collapse" id="navbarDiv">
            <div class="navbar-nav mr-auto">
                <a class="nav-item active nav-link" routerLink=""><img src="../../assets/images/home_icon.png" alt="Home" height="25" width="25"></a>
                <a class="nav-item active nav-link" routerLink="/events"><img src="../../assets/images/matches_icon.png" alt="Events" height="25" width="25"></a>
                <a class="nav-item active nav-link" routerLink="/chat"><img src="../../assets/images/chat_icon.png" alt="Chat" height="25" width="25"></a>
                <a class="nav-item active nav-link" routerLink="/profile"><img src="../../assets/images/person-icon-white.png" alt="Profile" height="25" width="25"></a>
            </div>
        </div>
    <span class="navbar-item active nav-link" routerLink="/log-in">Connexion</span>
</nav>