.main{
	width: 50%;
	height: 500px;
	background: #296E42;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    text-align: center;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}

label.title{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.formInput{
	width: 60%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.submit{
	width: 70%;
	height: 50px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #52A256;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #52A256;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
    background: #73bb77;
}
.submit:hover{
	background: #73bb77;
}
p{
    font-weight: bold;
    font-size: small;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-top: 50px;
  }
