
<div class="center">
    <div class="main">
        <label for="chk" aria-hidden="true" class="title">Match of the day</label>
        <div class="inline">
            <label for="chk" aria-hidden="true" class="equipes">Equipe 1</label>
            <label for="chk" aria-hidden="true" class="vs">VS</label>
            <label for="chk" aria-hidden="true" class="equipes">Equipe 2</label>
        </div>
    </div>
    <div class="inline">
        <div routerLink="/meetupdisplay" id="linksContainer" class="button">Je reserve un creneau</div>
        <div routerLink="/meetupform" id="linksContainer" class="button">Je propose un creneau</div>
    </div>
    <div id="mapConatainer" class="container"><img src="../../assets/images/map.png" height="300" width="300"></div>
    <div routerLink="/samecity" id="linksContainer" class="button">Chercher un match autour de moi</div>
</div>